<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/log">Log</a></li>
      <li><a routerLink="/register">Register</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li><a routerLink="/reactiveforms">Reactiveforms</a></li>
      <li><a routerLink="/parent">parent</a></li>
      <li><a routerLink="/child">child</a></li>
      <li><a routerLink="/parent1">Parent1</a></li>
      <li><a routerLink="/child1">Child1</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>